body {
    background: linear-gradient(#f22929 0%, #f27329 100%);
    text-align: center;
    background-repeat: no-repeat;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.Title2 {
    padding-top: 10px;
    font-family: 'Style Script', cursive;
    font-size: 50px;
}

.basePicture {
    border-radius: 50%;
    width: 400px;
    height: 300px;
}

p {
    font-size: 20px
}

.menu {
    list-style: none;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aquamarine;
    z-index: 9;
    position: absolute;
}

.Links {
    float: left;
    padding: 15px;
    font-family: fantasy;
    font-size: 18px;
}

.Links:hover {
    background-color: blueviolet
}
